<%- include("header") %>;
<nav class="navbar navbar-expand" style="background : rgba(0, 0, 0, 0.2)">
    <div class="container">
      <a class="navbar-brand">DAILY NEWS</a>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">CONTACT ME</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" >
    <h1>OOPS</h1>
    <h3>Page not found :(</h3>
  </div>
